jupyter
jupyterlab
langchain[docarray]
langchain_experimental
langsmith
huggingface_hub
openai
google-cloud-aiplatform
google-generativeai
replicate
ruff
pypdf
tiktoken
duckduckgo_search
streamlit
arxiv
wikipedia
wolframalpha
unstructured
pandoc # needs system install as well!
sentence-transformers
gradio
gpt4all
google-api-python-client
apify-client
chromadb
lanarky
ray[serve]
faiss-cpu
promptwatch
langchain_decorators
fastapi
starlette
pandas
numpy
beautifulsoup4
requests
pydantic